<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners Page</title>
</head>
<body>
<h1>Owners Index Page</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <td>ID</td>
        <td>first name</td>
        <td>last name</td>
    </tr>
    </thead>
    <tr th:each="owner: ${owners}">
        <td th:text="${owner?.Id}">None</td>
        <td th:text="${owner?.firstname}">None</td>
        <td th:text="${owner?.lastname}">None</td>
    </tr>
</table>
</body>
</html>